<div>
  <div b-view="header"></div>

  <div class="b-body">
    <div class="b-main">
      <div class="m1 w100">
        <button b-go="home" class="b-btn" color="blue">
          <i class="fas fa-chevron-left"></i>
        </button>
      </div>

      <div class="b-box m1">
        <div bx-head>BG-IMG</div>

        <div bx-content>
          <p>
            Para crear un Box se utiliza el atributo <b>bg-img</b> con la url de
            la imagen.
          </p>

          <div
            style="width: 200px; height: 200px"
            class="mb2"
            bg-img="/assets/img/md.jpg"
          ></div>

          <div b-code="bg-img"></div>
        </div>
      </div>
    </div>
  </div>
</div>
