<div>
  <div b-view="header"></div>

  <a href="#hola">hbshds</a>
 <div class="m1 w100">
  <button b-go="home" class="b-btn" color="blue">Home</button>
 </div>

  <div class="b-box m1">

    <div bx-head>
      Box
    </div>

    <div bx-content>
      <p>
        Para crear un Box se utiliza la clase <b>b-box</b>
      </p>

      <div class="b-box mb2">
        <div bx-head>Titulo</div>
        <div bx-content>Contenido</div>
      </div>

      <div b-code="box"></div>
  
    </div>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus saepe eligendi ducimus quae nostrum voluptatum corporis odio, nihil accusamus? Voluptates, inventore. Labore libero aut consequuntur totam incidunt itaque ex ipsam!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus saepe eligendi ducimus quae nostrum voluptatum corporis odio, nihil accusamus? Voluptates, inventore. Labore libero aut consequuntur totam incidunt itaque ex ipsam!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus saepe eligendi ducimus quae nostrum voluptatum corporis odio, nihil accusamus? Voluptates, inventore. Labore libero aut consequuntur totam incidunt itaque ex ipsam!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus saepe eligendi ducimus quae nostrum voluptatum corporis odio, nihil accusamus? Voluptates, inventore. Labore libero aut consequuntur totam incidunt itaque ex ipsam!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus saepe eligendi ducimus quae nostrum voluptatum corporis odio, nihil accusamus? Voluptates, inventore. Labore libero aut consequuntur totam incidunt itaque ex ipsam!</p>
    
    
    <span id="hola">dfdf</span>

   
  </div>
</div>
